/* Header */
.header {
  background: rgba(var(--bs-dark-rgb));
}

.header .header__navbar {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
}

/* Banner */
.banner {
  border-radius: 0.3rem;
}

.banner__title {
  font-weight: 700;
  font-size: 48px;
}

.banner__content {
  font-size: 24px;
}

/* Item */
.item__row {
  margin-right: -24px;
  margin-left: -24px;
}

.item__card {
  padding-right: 24px;
  padding-left: 24px;
}

.card {
  border: none;
  border-radius: 0.25rem;
  position: relative;
}

.card__icon {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 0.3rem;
  background: var(--bs-primary);
  color: white;
}

.card__body h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: rgba(var(--bs-dark-rgb));
}




@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* .card__body {
    padding: 3rem;
    padding-top: 0;
  } */
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
